@mixin before-circle {
      &::before {
            content: "";
            width: 36px;
            height: 36px;
            background-color: $main-color;
            border-radius: 100%;
            position: absolute;
            z-index: -1;
            left: 0px;
            top: -25%;
      }
}

