.hamburder {
      width: 36px;
      height: 21px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      position: absolute;
      right: 30px;
      top: 20px;
      cursor: pointer;
      position: fixed;

      span {
            width: 30px;
            height: 3px;
            background: #151812;
            display: block;
            transition: 0.5s;
      }
      span.long {
            width: 36px;
      }
      &:hover {
            span {
                  background: $main-color;
                  transition: 0.7s;
            }
      }
}

.menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100vh;
      z-index: 10;
      visibility: hidden;
      opacity: 0;
      transition: all 0.6s;
      &.active {
            left: 0;
            visibility: visible;
            opacity: 1;
      }
      &__block {
            max-width: 345px;
            background-color: $main-color;
            height: 100%;
            position: relative;
            transition: all 0.6s;
            padding-top: 140px;
            padding-left: 40px;
            z-index: 10;
      }
      &__close {
            position: absolute;
            top: 25px;
            right: 25px;
            cursor: pointer;
      }
      &__list {
            list-style-type: none;
            padding-left: 35px;
            li {
                  margin-bottom: 15px;
                  position: relative;
                  &::before {
                        content: "";
                        width: 15px;
                        height: 15px;
                        border: 1px solid $text-color;
                        border-radius: 100%;
                        display: block;
                        position: absolute;
                        top: 10px;
                        left: -35px;
                        transition: all 0.3s;
                  }
                  &:hover {
                        &::before {
                              background-color: #fff;
                              border: 1px solid #fff;
                              transition: all 0.6s;
                              width: 17px;
                              height: 17px;
                        }
                  }
                  a {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 36px;
                        color: $text-color;
                        transition: all 0.3s;
                        position: relative;
                        &:hover {
                              color: #fff;
                              text-decoration: none;
                              transition: all 0.6s;
                              font-size: 24px;
                        }
                  }
            }
      }
      &__social {
            width: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
      }
      &__overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: $text-color;
            opacity: 0.75;
      }
}
